<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Vytvořeno jako zápočtový projekt předmětu TNPW2 na FIM UHK</span>
        </div>
    </div>
</footer>